/* font-family: 'Ubuntu', sans-serif; */
:root{
    --primary :#ff4c68;
    --secondary : #ef8172;
    --whitespace : #fff;
    --description: #8f8f8f;
}
body {
  font-family: "Montserrat", sans-serif;
}

#title {
  background-color: var(--primary);
  padding-top: 90px;
}

#title-wrapper {
  padding: 3% 15% 7%;
}

h1 {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  color: var(--whitespace);
}

/* Navigation Bar */
.navbar {
  padding: 0 15% 1rem;
  margin: 0 -15%;
  position: fixed;
  top: 0px;
  z-index: 2;
  width: 100%;
  background-color: var(--primary);
}
.carousel-indicators{
    z-index: 1;
}

#logo {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

nav ul li {
  padding: 0 18px;
  font-size: 1.2rem;
}

/* Download Button */
.dl-button {
  margin: 5% 3% 5% 0;
}

/* Header Image*/

.title-image {
  transform: rotate(25deg);
  max-width: 60%;
  position: absolute;
  right: 25%;
}

/* Features */
#features {
  padding: 7% 15%;
  background-color: var(--whitespace);
  position: relative;
}

.feature-box {
  text-align: center;
  padding: 4.5%;
}

#features i {
  color: var(--secondary);
  font-size: 4rem;
  padding-bottom: 1rem;
}

#features i:hover {
  color: var(--primary);
}

#features h3 {
  font-weight: bold;
  font-size: 1.5rem;
}

#features p {
  color: var(--description);
}

/* Testimonials */
#testimonials {
  text-align: center;
  background-color: var(--secondary);
  color: var(--whitespace);
}

h2 {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 25%;
  border-radius: 50%;
  margin: 20px;
}

/* Press */
#press {
  background-color: var(--secondary);
  text-align: center;
  padding-bottom: 3%;
}

.press-image {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Pricing */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

/* Call to Action */
#cta {
  background-color: var(--primary);
  text-align: center;
  padding: 7% 15%;
}

#cta h3 {
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.5;
  color: var(--whitespace);
  padding-bottom: 3%;
}

/* Footer */
#footer {
  text-align: center;
  padding: 7% 15% 2%;
}

#footer i {
  padding: 0 1%;
  font-size: 1.25rem;
}

#footer p {
  padding-top: 2%;
}

@media only screen and (min-width: 992px) and (max-width: 1268px) {
  /* Header Image*/
  .title-image {
    width: 25%;
    right: 15%;
  }
}

@media only screen and (max-width: 992px) {
  #title {
    text-align: center;
  }

  /* Header Image*/
  .title-image {
    position: static;
    z-index: 0;
    width: 40%;
    transform: rotate(0deg);
  }

  /* Features */
  #features {
    position: static;
    z-index: 0;
  }
}
